
*{
    padding: 0;
    margin: 0;
}


.main-container{
    display: grid;
    grid-template-columns:  0.3fr repeat(2,1fr);
    grid-template-rows:  .3fr repeat(2, 1fr);
}

.side-bar{
    background-color: lightblue;
    grid-area: 1/1/4/2;
    display: grid;
    grid-template-rows: 0.3fr 0.5fr 1fr;
}

.top{
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    padding: 20px;
    margin-bottom: 50px;
    align-items: center;
}

.top .dash{
    height: 65px;
}

.top h3{
    padding-left: 15px;
    font-size: 2.2em;
}

.middle{
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    grid-template-rows: repeat(6, 40px);
    padding: 0 0 70px 40px;
    gap: 20px;
}

.middle p{
    font-size: 1.4em;
    align-self: center;
    padding-left: 15px;
}

.bottom{
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    grid-template-rows: repeat(3, 40px) 1fr;
    gap: 20px;
    padding: 0 0 0 40px;
}

.bottom p{
    font-size: 1.4em;
    padding-left: 15px;
}
.header{
    grid-area: 1/2/2/4;
    display: grid;
    /* box-shadow: 0px 15px 10px -15px #111; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 0;
}

.header-top{
    display: grid;
    grid-template-columns: 100px .9fr 200px 100px auto;
    align-items: center;
    padding: 20px 20px 0 20px;
}

.header-top .input{
    height: 35px;
    border-radius: 20px;
    background-color: lightgray;
}

.header-top .resize{
    justify-self: end;
    padding-right: 30px;
}

.header-top p{
    font-size: 1.6em;
    font-weight: bolder;
}

.header-bottom{
    display: grid;
    grid-template-columns: 150px .9fr repeat(3, 200px) auto;
    align-items: center;
    padding: 0 20px 20px 20px;
    
}

.header-bottom h6{
    font-size: 1.6em;
}

.header-bottom p{
    font-weight: bolder;
    font-size: 1.8em;
}

.header-bottom .btn{
    display: grid;
    grid-template-columns: repeat(3, 200px);
}

.header-bottom .button{
    height: 50px;
    width: 150px;
    border-radius: 40px;
    color: white;
    background-color: lightblue;
    border: none;
    font-size: 1.2em;
    justify-self: end;
}

.main-content{
    grid-area: 2/2/4/4;
    background-color: azure;
    display: grid;
    grid-template-columns: 2fr .7fr;
    grid-template-rows: .3fr repeat(3, 1fr);
    padding: 20px;
    gap: 20px;
}

.main-left{

    grid-area: 1/1/5/2;
    display: grid;
    grid-template-rows: .3fr repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}


.main-left .title{
    font-size: 2.2em;
    font-weight: 900;
    display: grid;
    align-content: center;
}

.main-left .project{
    background-color: wheat;
    padding: 40px;
    border-left: 8px solid orange;
    border-radius: 10px;
}

.main-left .project p{
    font-size: 1.2em;
}

.main-left .project h2{
    margin-bottom: 10px;
}

.main-left .one{
    grid-column: 1;
} 

.main-left .project .images{
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(3, 50px);
    margin-top: 50px;
}

.main-right{
    grid-area: 1/2/5/3;
    display: grid;
    gap: 80px;
    justify-content: center;
}

.main-right-top{
    display: grid;
    grid-template-rows: .25fr 1fr;
}

.main-right-top .announcements p{
    width: 350px;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid black;
}

.main-right-top .announcements h2{
    margin-top: 20px;
}

.main-right-top .announcements{
    background-color: wheat;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-sizing: border-box;
}

.main-right-top .title, .main-right-bottom .title{
    font-size: 2.2em;
    font-weight: 900;
    display: grid;
    align-content: center;

}

.main-right-bottom{
}
.resize{
    height: 30px;
}

.pfp{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.pfp2{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    justify-self: center;
}
img{
    height: 20px;
}


@media only screen and (max-width: 1725px) {

    .main-container{
    
        height: 100%; 
    
    }
} 
